---

title: Blog
layout: 'base.njk'

---

<div class="section container">
  <h1 class="section-title">Recent articles</h1>
  <ul role="list" class="articles__list flow">

  {% for post in collections.post | reverse %}
    {% include 'article-snippet.njk' %}
  {% endfor %}

  </ul>
</div>



{# <article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">My Third Article</h1>
    <figure class="main-article__figure">
      <img src="/assets/blog/article-3.jpg" alt="This is a test">
      <figcaption>This is a test</figcaption>
    </figure>
    
</div>
</article> #}

